.banner>ul {
	height: 100%;
}

.banner>ul:first-of-type>li {
	height: 100%;
}

.banner>ul:last-of-type {
	width: 700px;
	top: 0px;
	left: calc((100% - 1200px) / 2);
	height:649px;
	overflow: hidden;
}

.banner>ul:last-of-type>li {
	height: calc(649px/13);
}

.banner>ul>li>.nav_left {
	width: 170px;
	height: calc(649px/13);
	background-color: #fff;
	line-height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.banner>ul>li>.nav_left>span {
	margin-left: 20px;
	display: inline-block;
}


.banner>ul>li>.nav_left>.h-sprite {
	width: 23px;
	margin-left: 37px;
	height: 23px;;
}

.banner>ul>li>.nav_rigt:last-of-type {
	width: 530px;
	height: 649px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 170px;
	padding: 20px 28px 0 30px;
	overflow-y: scroll;
	font-size: 15px;
	background-color: #fff;

}

.banner>ul>li>.nav_rigt:last-of-type::-webkit-scrollbar {
	display: none;
}

.banner>ul>li>.nav_left:hover+div,
.banner>ul>li>.nav_rigt,
.banner>ul>li>.nav_rigt:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.banner>ul>li a {
	color: #666;
}

.banner>ul>li a:hover,
.banner>ul>li>div a:hover,
.banner>ul>li>.nav_rigt>ul>li>div:first-child a:hover {
	color: #FF5959;
}

.banner>ul>li>.nav_left:hover {
	background-color: #FFB3BF;
}

.banner>ul>li>.nav_rigt .wrap {
	width: 100%;
	overflow: hidden;
}

.banner>ul>li>.nav_rigt>ul>li {
	margin-bottom: 28px;
}

.banner>ul>li>.nav_rigt>ul>li>div:first-child a {
	color: #333;
}

.right {
	float: right;
}

.left {
	float: left;
}

.color6 {
	color: #666;
}

.ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.wd87 {
	width: 86%;
	overflow: hidden;
}

.rh-more {
	display: inline-block;
	margin-top: 14px;
}

.mt14 {
	margin-top: 14px;
}

.mr12 {
	margin-right: 18px;
}













