.banner {
	height: 420px;
}

.banner>ul {
	height: 100%;
}

.banner>ul:first-of-type>li {
	height: 100%;
}

.banner>ul:last-of-type {
	width: 610px;
	top: 0px;
	left: calc((100% - 1200px) / 2);
}

.banner>ul:last-of-type>li {
	height: 35px;
}

.banner>ul>li>.nav_left {
	width: 170px;
	height: 35px;
	background-color: #fff;
	line-height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.banner>ul>li>.nav_left>span {
	margin-left: 20px;
	display: inline-block;
}


.banner>ul>li>.nav_left>.h-sprite {
	width: 18px;
	margin-left: 37px;
	background-image: url('/images/banner.png');
	background-size: 234px 23px;
}

.banner>ul>li>.nav_left>.one {
	background-position: -18px 0;
	height: 11px;
}

.banner>ul>li>.nav_left>.two {
	background-position: -36px 0;
	height: 23px;
}

.banner>ul>li>.nav_left>.three {
	background-position: -54px 0;
	height: 22px;
}

.banner>ul>li>.nav_left>.four {
	background-position: -72px 0;
	height: 22px;
}

.banner>ul>li>.nav_left>.five {
	background-position: -90px 0;
	height: 20px;
}

.banner>ul>li>.nav_left>.six {
	background-position: -108px 0;
	height: 18px;
}

.banner>ul>li>.nav_left>.seven {
	background-position: -126px 0;
	height: 14px;
}

.banner>ul>li>.nav_left>.eight {
	background-position: -144px 0;
	height: 20px;
}

.banner>ul>li>.nav_left>.nine {
	background-position: -162px 0;
	height: 11px;
}

.banner>ul>li>.nav_left>.ten {
	background-position: -180px 0;
	height: 20px;
}

.banner>ul>li>.nav_left>.eleven {
	background-position: -198px 0;
	height: 20px;
}

.banner>ul>li>.nav_left>.twelve {
	background-position: -216px 0;
	height: 14px;
}

.banner>ul>li>.nav_left>.ss {
	height: 17px;
}

.banner>ul>li>.nav_rigt:last-of-type {
	width: 467px;
	height: 420px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 170px;
	padding: 20px 28px 0 30px;
	overflow-y: scroll;
	font-size: 15px;
	background-color: #fff;

}

.banner>ul>li>.nav_rigt:last-of-type::-webkit-scrollbar {
	display: none;
}

.banner>ul>li>.nav_left:hover+div,
.banner>ul>li>.nav_rigt:hover {
	visibility: visible;
	opacity: 1;
}

.banner>ul>li a {
	color: #666;
}

.banner>ul>li a:hover,
.banner>ul>li>div a:hover,
.banner>ul>li>.nav_rigt>ul>li>div:first-child a:hover {
	color: #FF5959;
}

.banner>ul>li>.nav_left:hover {
	background-color: #FFB3BF;
}

.banner>ul>li>.nav_rigt .wrap {
	width: 100%;
	overflow: hidden;
}

.banner>ul>li>.nav_rigt>ul>li {
	margin-bottom: 28px;
}

.banner>ul>li>.nav_rigt>ul>li>div:first-child a {
	color: #333;
}

.right {
	float: right;
}

.left {
	float: left;
}

.color6 {
	color: #666;
}

.ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.wd87 {
	width: 86%;
	overflow: hidden;
}

.rh-more {
	display: inline-block;
	margin-top: 14px;
}

.mt14 {
	margin-top: 14px;
}

.mr12 {
	margin-right: 18px;
}
















.navs-menu {
	background-color: #FF5959;
	height: 45px;
	color: #fff;
}

.navs-menu>li {
	height: 100%;
}

.navs-menu>li>a {
	width: 96px;
	height: 100%;
	line-height: 46px;
	text-align: center;
}

.navs-menu>li>a:hover {
	background: #ff8080;
}




.head-middle {
	width: 424px;
	height: 100%;
}

.head-middle>li {
	height: 16px;
	width: 100%;
	font-size: 12px;
	margin-top: 20px;
}

.head-middle>li:first-of-type {
	margin-top: 0px;
	border: 1px solid #d2d2d2;
	border-radius: 16px;
	line-height: 34px;
	height: 34px;
}

.head-middle>li:first-of-type>.search_logo {
	width: 26px;
	height: 26px;
	margin-top: 3px;
}

.head-middle>li>input {
	width: 85%;
	height: 32px;
	line-height: 32px;
	background-image: none;
	text-indent: 20px;
	font-size: 14px;
	border-radius: 16px;
	border: none;
	outline-style: none;
	color: #666;
}

.head-middle>li:last-of-type a {
	margin-right: 10px;
	color: #666;
}

.head-middle>li:last-of-type a:first-of-type {
	color: #FF9D00;
	margin-right: 0px;
}